body{
    background-image: url("math-.jpg");
}
	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
#player_question{
	color: white;
	background-color: blue;
}
#player_answer{
	color: white;
	background-color: blue;
}
#player1_score{
	color: white;
}
#player2_score{
	color: white;
}
#player1_name{
	color: white;
}
#player2_name{
	color: white;
}